@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
}

body {
  background: var(--bg);
  color: #0f172a;
}

/* react-pdf */
.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  display: none;
}
.react-pdf__Page__canvas {
  margin: 0 auto;
}
